<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="{% static 'images/icon2.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
    <script src="https://kit.fontawesome.com/88dec51e8e.js" crossorigin="anonymous"></script>
    <title>ZielonoNam 2022</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="{% static 'images/logo.png' %}" id="logo">
          <a role="button" class="navbar-burger is_large" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start" >
            <a class="navbar-item" href="{% url 'index' %}">
              Home
            </a>
            <a class="navbar-item" href="{% url 'Posts:post_list' %}">
              Posty
            </a>
            <a class="navbar-item" href="">
              O nas
            </a>
            <a class="navbar-item" href="{% url 'contact' %}">
                Kontakt
              </a>
          </div>
        </div>
      </nav>
      <div id="main_header">
      </div>
      <main>
        <div class="post_cont" >
            <h2 id="tittle">{{ post.title }} {% if not post.publish_date%}<a href="{% url 'Posts:post_publish' slug=post.slug %}">[Opublikuj]</a>{% endif %} </h2>
            <span style="font-size: 35px">{% if user.is_authenticated %}<a href="{% url 'Posts:post_delete' post.slug %}"><i class="fas fa-trash-alt"></i></a><a href="{% url 'Posts:post_edit' post.slug %}"><i class="fa-solid fa-pen"></i></a>{% endif %}</span>
            <h2>Autor: <a href="#">{{ post.author }}</a></h2>
            <h2>Napisane: {{ post.create_date }}</h2>
            <hr>
            <div id="post_text">
                <p>{{ post.content|safe }}</p>
            </div>
        </div>
      </main>
</body>
<script src="{% static 'js/burger.js' %}"></script>
</html>