<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="{% static 'images/icon2.ico' %}"/>
    <script src="https://kit.fontawesome.com/88dec51e8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <title>ZielonoNam 2022</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="{% static 'images/logo.png' %}" id="logo">
          <a role="button" class="navbar-burger is_large" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start" >
            <a class="navbar-item" href="{% url 'index' %}">
              Home
            </a>
            <a class="navbar-item" href="">
              O nas
            </a>
            <a class="navbar-item" href="">
                Posty
              </a>
            <a class="navbar-item" href="">
                Newsletter
              </a>
          </div>
        </div>
      </nav>
      <div id="main_header">
        <h1></h1>
      </div>
      <main>
        <div class="" id='login_cont'>
            <h2>ADMIN</h2>
            
            <span><a id="inactive">Zaloguj się</a><a href='{% url 'accounts:register' %}' id="active">Zarejestruj się</a></span><br>
            <a href="{% url 'accounts:password_reset' %}">Zresetuj hasło</a>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="POST" enctype="multipart/form-data" autocomplete="off">
              <input id='username' name="username" class='form_inp' type="text" placeholder="Nazwa użytkownika">
              <br>
              <input id='password' name='password' class='form_inp' type="password" placeholder="Hasło">
              <br>
              <button id='btn' type="submit">Zaloguj się</button>
              {% csrf_token %}
            </form>
        </div>
      </main>
</body>
<script src="{% static 'js/burger.js' %}"></script>
</html>